.estilocalc{
    border:  solid 1px ;
    border-radius: 15px 15px 15px 15px;    
    height: 200px;
    width: 400px;
    background-color:#d7e0de;
}
.botonpeq{
    width:30px;
    height: 25px;
    
}
.titulo{
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.botongrand{
    width:40px;
    height: 25px;
}
.estilocuadro{
    width: 350px;
    text-align: center;
}